[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Name=harbour-hackernews
Icon=icon-launcher-component-gallery
Exec=sailfish-qml harbour-hackernews
